@import 'yoga';
@import 'public/css/drunken-parrot';
@import 'public/bootstrap/css/bootstrap';
@import 'index';
@import 'top-nav';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();

* {
  box-sizing: border-box;
}

body {
  margin: 0;
    background-color: #e1eef3;
}
