@import 'yoga';
@import 'base';
@import 'index';
@import 'login';
@import 'top-nav';
@import 'add-bot';
@import 'bot';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e1eef3;
}

.fade {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
