.welcome-text {
  text-align: center;
}

.main {
  margin: 0;
}

// sidebar
.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-content: center;
  margin-top: 24px;
  padding-top: 130px;
  padding-left: 4rem;
  z-index: 1;
}

.platforms__categories {
  display: flex;
  flex-direction: column;
  align-content: center;

  padding-left: 0;
}

.platforms__detail {
  padding-top: 2rem;
  list-style: none;
}

.platform__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// main

.content {
  display: block;
  position: static;
  z-index: 2;
  padding-left: 300px;
  padding-top: 100px;
  width: 100%;
}

.bot-row {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:hover {
    border-color: #93a4aa;
  }
}

.bots {
  background: #fff;
}

.bot-info {
  display: flex;
}

.bot-image {
  width: 8rem;
  height: 8rem;
  border-radius: inherit;
}

.bot__text-info {
  margin-left: 3rem;
}

.bot__name {
  font-size: 20px;
}

.fa-globe {
  margin-top: 2.3rem;
  margin-left: 1rem;
  white-space: none;
  background: none;
  width: 3rem;
  height: 3rem;
}

.bot__link {
  white-space: none;
  background: none;
  border: 0;
}

.bot__name-site {
  display: flex;
  align-items: center;
}

.bot__link-image {
  width: 3rem;
  height: 3rem;
  white-space: none;
  background: none;
  border: 0;
}
