@import 'public/css/drunken-parrot';
@import 'public/bootstrap/css/bootstrap';

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 20rem;
  margin: 1rem;
}

.platform__header {
  font-size: 16px;
}

.platforms__categories {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.platform__icon {
  width: 2.5rem;
  height: 2.5rem;
}


.footer {
  display: flex;
  flex-direction: column;
}
