.welcome-text {
  text-align: center;
}

.main {
  display: flex;
  margin: 0;
}

.bot-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.platforms {
  padding-right: 1rem;
}

// sidebar
.sidebar {
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  // justify-content: flex-start;
  margin-top: 24px;
  // padding-top: 100px;
  padding-left: 4rem;
  width: 20rem;
}

.platforms__categories {
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  padding-left: 0;
}

.platforms__detail {
  padding-top: 2rem;
  list-style: none;
}

.platform__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 3rem;
}

.legal {
  margin-top: 1rem;
}


.content {
  // display: flex;
  // position: relative;
  // flex-direction: column;
  // flex-grow: 1;
  // justify-content: flex-end;
  padding-left: 5rem;

  // display: block;
  // z-index: 2;
  // padding-left: 300px;
  // padding-top: 100px;
  // width: 100%;
}

.bot-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    border-color: #93a4aa;
  }
}

.bot-info {
  display: flex;
  padding-left: 1rem;
}

.bot-image {
  width: 8rem;
  height: 8rem;
  border-radius: inherit;
}

.bot__text-info {
  margin-left: 3rem;
}

.bot__name {
  font-size: 20px;
}

.fa-globe {
  margin-top: 2.3rem;
  margin-left: 1rem;
  white-space: none;
  background: none;
  width: 3rem;
  height: 3rem;
  color: #02baf2;
}

.bot__link {
  white-space: none;
  background: none;
  border: 0;
}

.bot__name-site {
  display: flex;
  align-items: center;
}

.bot-description {
  width: 100%;
}

.bot__link-image {
  width: 3rem;
  height: 3rem;
  white-space: none;
  background: none;
  border: 0;
}

.btn-like {

  &:focus {
    color: #ffffff;
    background-color: #02baf2;
  }
}

.bot-row__close {
  white-space: none;
  background: none;
  border: none;
  // margin-left: 3rem;

}

// .fa-close {
//   margin-left: 3rem;
// }

.fa-plus {
  padding-left: 5px;
  color: #a88cd5;
}

.add-platform {
  margin-top: 1rem;
}
