@import 'public/css/drunken-parrot';

.register-btn {
  border: 0;
  white-space: none;
  background: none;
}

.logo {
  margin: 0 55px 0 40px;
  padding-top: 15px;
  vertical-align: middle;
}

.modal-overlay {
  display: none;
}

// .login-btn {
// }
