@import 'public/css/drunken-parrot';
@import 'public/bootstrap/css/bootstrap';

.navbar {
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.site-name {
  padding-left: 1rem;
}

.nav-right {
  display: flex;
  margin-left: 62rem;
}
