<div class="modal fade modal--active" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'index'}}
          <button type="button" class="close-form glyphicon glyphicon-remove" data-dismiss="modal"></button>
        {{/link-to}}
        {{#each model as |bot|}}

        {{/each}}
        <h4 class="modal-title" id="myModalLabel">{{bot.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="header">
          <div class="bot-detail__info">
            <img src="{{bot.imageUrl}}" alt="" class="bot-detail__image">
            <div class="bot-detail__text">
              <h3 class="bot-detail__name">{{bot.name}}</h3>
              <p class="bot-detail__desc">{{bot.description}}</p>
            </div>
            <div class="bot-detail__like-btn">
              <button class="btn btn-default ss-star">
                <br> 100
              </button>
            </div>
          </div>

          {{!-- Comments --}}
          <div class="bot-detail__comments">
            <h4 class="bot-detail__comments-title">Comments</h4>
            <div class="bot-detail__user-comment">
              <img src="" alt="" class="media-object">
              <input class="form-control input-lg" type="text" placeholder="Whatcha Thinking?">
            </div>

            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="images/ui-face-3.png">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Stefan T</h4>
                  <p>It's Awesome</p>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="images/ui-face-1.png">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Her</h4>
                      <p>Cool!</p>
                      <div class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object" src="images/ui-face-2.png">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading">Kitty</h4>
                          <p>Cool!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
