<div class="welcome-text">
  <h3 class="welcome-heading">Welcome to Bot Hunt!</h3>
  <p class="welcome-subtext">The Best Way to Share & Find New ChatBots</p>
</div>

<div class="main">
  <nav class="sidebar">
      <ul class="platforms__categories">
        <h5 class="platform__header">Platforms</h5>
        <li class="platforms__detail">
          <img class="platform__icon" src="images/messenger.png" alt="messenger" /> Messenger
        </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/telegram.png" alt="Telegram" /> Telegram
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/kik.png" alt="Kik" /> Kik
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/slack.png" alt="Slack" /> Slack
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/text.png" alt="SMS" /> SMS/Text
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/whatsapp.png" alt="whatsapp" /> Whatsapp
      </li>
    </ul>

    <footer class="footer">
      <p>Contact</p>
      <p class="legal">Made by @steftheo11</p>
    </footer>
  </nav>

  <div class="content">
    <h3 class="date">May 5th, 2016</h3>
    <ul class="list-group">
      <li class="bot-row list-group-item">
        <img src="images/stefanbot.png" alt="" class="bot-image">
        <div class="bot__text-info">
          <h4 class="bot__name">StefanBot</h4>
          <p class="bot__description">This is a bot</p>
        </div>
        <label class="bot__platform-messenger">Messenger</label>
        <div class="like-button">
          <button class="btn btn-default ss-star"><br>
            100</button>
        </div>
      </li>
    </ul>
  </div>
</div>
