<nav class="sidebar">
  <ul class="platforms__categories list-group">
    <h5 class="platform__header">Platforms</h5>
    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/messenger.png" alt="messenger" /> Messenger
    </li>

    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/telegram.png" alt="Telegram" /> Telegram
    </li>

    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/kik.png" alt="Kik" /> Kik
    </li>

    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/slack.png" alt="Slack" /> Slack
    </li>

    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/text.png" alt="SMS" /> SMS/Text
    </li>

    <li class="platforms__detail list-group-item">
      <img class="platform__icon" src="images/whatsapp.png" alt="whatsapp" /> Whatsapp
    </li>
  </ul>


  <footer class="footer">
    <p>Contact</p>
    <p class="legal">Made by @steftheo11</p>
  </footer>

</nav>
