<nav class="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Platforms</h3>
    </div>
    <ul class="platforms__categories list-group">
     <li class="platforms__detail list-group-item">
       <img class="platform__icon" src="public/images/messenger.png" alt="messenger" />
       Messenger
     </li>
     <li class="platforms__detail list-group-item">
       <img class="platform__icon" src="public/images/telegram.png" alt="Telegram" />
       Telegram
     </li>
     <li class="platforms__detail list-group-item">
       <img class="platform__icon" src="public/images/kik.png" alt="Kik" />
       Kik
     </li>
    </ul>

  </div>
  <footer>
    <p>contact</p>
    <p class="legal">Made by @steftheo11</p>
  </footer>
</nav>
