<nav class="navbar navbar-default">
   <div class="row container-fluid">
      <div class="header navbar-header">
        <img class="logo" src="images/bot icon.png" alt="Bot" />
         <h3 class="site-name">Bot Hunt</h3>
      </div>
      <form class="nav-right navbar-form">
          <div class="form-group navbar-left">
             <div class="input-icon">
                <span class="ss-search"></span>
                <input type="text" class="form-control" placeholder="Search">
             </div>
          </div>
          <div class="navbar-right">
            <button class="ss-plus"></button>
             <button type="submit" class="btn btn-primary">Sign Up</button>
             <button type="submit" class="btn btn-default">Login</button>
          </div>
       </form>
   </div>
</nav>

{{outlet}}
