<div class="main container">
  <div class="sidebar affix hidden-xs hidden-sm">
    <ul class="nav affix" data-spy="affix">
      <h2>{{model.name}}</h2>
      <h3>{{model.username}}</h3>
    </ul>

  </div>

    <div class="nav-bar">
      <ul class="nav nav-tabs nav-stroke nav-justified">
        <li class="active"><a href="#">Liked</a></li>
        <li><a href="#">Made By Me</a></li>
        <li><a href="#">Submitted</a></li>
      </ul>
    </div>
    {{model.bots.length}}
</div>
