<div class="modal fade modal--active" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'index'}}
          <button type="button" class="close-form glyphicon glyphicon-remove" data-dismiss="modal"></button>
        {{/link-to}}
        <h4 class="modal-title" id="myModalLabel">{{bot.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="header">
          <div class="bot-detail__info">
            <img src="images/stefanbot.png" alt="" class="bot-detail__image">
            <div class="bot-detail__text">
              <h3 class="bot-detail__name">Stefan Bot</h3>
              <p class="bot-detail__desc">Resume Bot</p>
            </div>
            <div class="bot-detail__like-btn">
              <button class="btn btn-default ss-star"><br>
                100</button>
            </div>
          </div>

        </div>
      <div class="modal-footer">
        ...
      </div>
    </div>
  </div>
</div>
