<div class="modal-overlay v-fullscreen">
<h2 class="login-header">Login to Join the Community!</h2>
  <div class="login-forms">
    <div class="form-group input-icon">
     <span class="ss-mail"></span>
     <input type="text" class="form-control" placeholder="E-mail">
    </div>
    <div class="form-group input-icon">
     <span class="ss-lifepreserver"></span>
     <input type="password" class="form-control" placeholder="Password">
    </div>

    <button class="btn btn-purple btn-embossed">Login!</button>
  </div>
</div>
