<div class="welcome-text">
  <h3 class="welcome-heading">{{model.name}}</h3>
</div>

{{#each model.implementations as |implementation|}}
  {{#if implementation.bot}}
    {{bot-item bot=implementation.bot}}
  {{/if}}
{{/each}}
